/*.xml
/*.idea
/*.pyc
/__pycache__/
/code/__pycache__/
/code/exparser/EXparser/__pycache__/
/code/exparser/EXparser/src/__pycache__/
/code/exparser/__pycache__/
/code/*_old.py
/code/*_older.py
/code/*_oldest.py
/code/M_configs_custom.json
/garbage/
/logs/
/pdfs/ARXIV
/pdfs/LINKED/
/pdfs/SSOAR/
/pdfs/ARXIV_/
/pdfs/UPLOADS/
/pdfs/UPLOADS_old/
/pdfs/USERS/
/pdfs/USERS_old/
/pdfs/wolf_pdfs/
/resources/arxiv_meta/
/resources/ssoar_meta/
/*.err
/*.out
/*.txt
/*.db
/temp/
/code/OLD/
